.order {
  background-color: rgba(207, 223, 194, 0.3);
  border-radius: 10px;
  padding: 0 20px 10px;
}

.order-table {
  border-bottom: 1px solid rgba(199, 199, 199, 0.4);
}

.order-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.order-li {
  list-style-type: none;
  font-weight: lighter;
  padding: 10px;
}

.order-li--bold {
  font-weight: bolder;
  list-style-type: none;
  margin: 2vh 0;
}
