.goods {
  margin-bottom: 2vh;
  background-color: rgba(207, 223, 194, 0.2);
}

.goods:hover {
  background-color: rgba(207, 223, 194);
}

.goods-list {
  display: grid;
  grid-template-columns: repeat(5, 15vw);
  grid-gap: 30px;
}

@media (max-width: 992px) {
  .goods-list {
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    grid-gap: 20px;
  }
}

@media (max-width: 768px) {
  .goods-list {
    grid-template-columns: repeat(3, 27vw);
  }
}

@media (max-width: 576px) {
  .goods-list {
    grid-template-columns: repeat(2, 35vw);
  }
}
