.main {
  background-image: linear-gradient(
      rgba(255, 255, 255),
      rgba(207, 223, 194, 0.3)
    ),
    url(./green.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  height: 100vh;
}

.main-description {
  display: flex;
  flex-direction: column;
  width: 1100px;
  margin-top: 15vh;
  position: fixed;
  padding-left: 5%;
}

.main-title {
  font-size: 60px;
  width: 80%;
}

.main-text {
  width: 55%;
  line-height: 1.5;
  text-align: justify;
  margin: 7vh 0;
  font-size: 25px;
}

.main-btn {
  background-color: #cfdfc2;
}

@media (max-width: 992px) {
  .main-description {
    width: 960px;
    margin-top: 10vh;
  }
  .main-text {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .main-description {
    width: 720px;
    margin-top: 15vh;
  }
  .main-title {
    font-size: 45px;
  }
  .main-text {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .main-description {
    width: 480px;
    padding-left: 3%;
    height: 50vh;
  }
  .main-title {
    font-size: 37px;
  }
  .main-text {
    font-size: 15px;
  }
}

@media (max-width: 360px) {
  .main-description {
    width: 300px;
  }
  .main-title {
    font-size: 30px;
  }
  .main-text {
    font-size: 15px;
    width: 90%;
  }
}

@media (max-height: 576px) {
  .main-description {
    width: 100vw;
    margin-top: 20vh;
  }
  .main-title {
    font-size: 27px;
    width: 90%;
  }
  .main-text {
    font-size: 15px;
    width: 90%;
  }
}

@media (max-height: 360px) {
  .main-description {
    width: 100vw;
  }
  .main-title {
    font-size: 24px;
  }
  .main-text {
    font-size: 14px;
  }
}
